*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gradle/2.8/taskArtifacts/cache.properties
.gradle/2.8/taskArtifacts/cache.properties.lock
.gradle/2.8/taskArtifacts/fileHashes.bin
.gradle/2.8/taskArtifacts/fileSnapshots.bin
.gradle/2.8/taskArtifacts/outputFileStates.bin
.gradle/2.8/taskArtifacts/taskArtifacts.bin
.idea/libraries/appcompat_v7_23_1_1.xml
.idea/libraries/design_23_1_1.xml
.idea/libraries/recyclerview_v7_23_1_1.xml
.idea/libraries/support_annotations_23_1_1.xml
.idea/libraries/support_v4_23_1_1.xml
.idea/workspace.xml
SmartBackPack.iml
app/app.iml
app/src/main/java/com/irenakamrat/smartbackpack/CustomAdapter.java
app/src/main/java/com/irenakamrat/smartbackpack/Model.java
app/src/main/res/drawable-v21/ic_menu_camera.xml
app/src/main/res/drawable-v21/ic_menu_gallery.xml
app/src/main/res/drawable-v21/ic_menu_manage.xml
app/src/main/res/drawable-v21/ic_menu_send.xml
app/src/main/res/drawable-v21/ic_menu_share.xml
app/src/main/res/drawable-v21/ic_menu_slideshow.xml
app/src/main/res/drawable/side_nav_bar.xml
app/src/main/res/layout/app_bar_main.xml
app/src/main/res/layout/content_main.xml
app/src/main/res/layout/nav_header_main.xml
app/src/main/res/layout/row.xml
app/src/main/res/menu/activity_main_drawer.xml
app/src/main/res/menu/main.xml
app/src/main/res/values-v21/styles.xml
app/src/main/res/values/drawables.xml
build/intermediates/dex-cache/cache.xml
local.properties
SmartBackPack2.iml
